<div class="login">

    <h2 class="login-header">Inscription</h2>

    <form [formGroup]="inscriptionForm" class="login-container" (ngSubmit)="inscrire()">

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.surname.errors }">
            <input type="surname" placeholder="Nom" formControlName="nom">
        </p>

        <div *ngIf="isSubmitted && formControls.surname.errors" class="help-block">
            <div *ngIf="formControls.surname.errors.required" class="champs_requis">
                <font color="red">Votre nom est requis</font>
            </div>
        </div>

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.surname.errors }">
            <input type="surname" placeholder="Prénom" formControlName="nom">
        </p>

        <div *ngIf="isSubmitted && formControls.name.errors" class="help-block">
            <div *ngIf="formControls.name.errors.required" class="champs_requis">
                <font color="red">Votre prénom est requis</font>
            </div>
        </div>

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
            <input type="email" placeholder="Email" formControlName="email">
        </p>

        <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
            <div *ngIf="formControls.email.errors.required" class="champs_requis">
                <font color="red">L'email est requis</font>
            </div>
        </div>

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <input type="password" placeholder="Mot de passe" formControlName="password">
        </p>

        <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
            <div *ngIf="formControls.password.errors.required" class="champs_requis">
                <font color="red">Mot de passe requis</font>
            </div>
        </div>

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.telephone.errors }">
            <input type="telephone" placeholder="Téléphone" formControlName="telephone">
        </p>

        <div *ngIf="isSubmitted && formControls.telephone.errors" class="help-block">
            <div *ngIf="formControls.telephone.errors.required" class="champs_requis">
                <font color="red">Le numéro de téléphone est requis</font>
            </div>
        </div>

        <p>
            <input type="licence" placeholder="Numéro de licence">
        </p>

        <div class="boutons">
            <input type="submit" value="S'inscrire">
        </div>
    </form>
</div>