html, body {
    background-color:#EBEBEB;
	height : 100%;
}

.center-div
{
  margin: 0 auto;
  width: 700px;
}

.label {
    font-size: xx-large;
	text-align: center;
}

li {
  cursor: pointer;
}

.scroll {
  margin: 0 auto;
  width: 700px;
  background-color: white;
  top: 20px;
  bottom: 20px;
  height: 400px;
  overflow: auto;
}