<div class="login">
    <h2 class="login-header">Changement de mot de passe</h2>
    
    <form [formGroup]="finalForm" class="login-container" (ngSubmit)="changePassword()">

      <p><input type="password" placeholder="Mot de passe" formControlName="password"></p>
      
      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required" class="champs_requis"><font color="red">Mot de passe requis</font></div>
        <div *ngIf="password.errors?.pattern" class="champs_requis"><font color="red">Le mot de passe doit contenir au moins 1 majuscule, un chiffre et un caractère spécial</font></div>
    </div>

      <p><input type="password" placeholder="Confirmation de mot de passe" formControlName="confirmPassword"></p>
      <div *ngIf="isSubmitted && formControls.confirmPassword.errors" class="help-block">
        <div *ngIf="formControls.confirmPassword.errors.required" class="champs_requis"><font color="red">Confirmation de mot de passe requise</font></div>
        <div *ngIf="formControls.confirmPassword.errors.confirmedValidator" class="champs_requis"><font color="red">Les mots de passe ne sont pas identiques</font></div>
      </div>

      <div class="boutons">
        <input type="submit" value="Changer de mot de passe">
      </div>

    </form>

    <br/>
    <div class="retour">
      <button routerLink="/connexion" class="btn">Retour</button>
    </div>
  </div>


